<div>
  <div class="row">
    <div class="col-md-3">
      <input c type="search" (ngModelChange)="searchOf(key.value)" #key="ngModel" ngModel name="key" style="width: 100%"
        class="form-control mt-2 me-2 ms-2" placeholder="Search OF..." required />
    </div>
    <div class="col-md-3">
      <input type="search" (ngModelChange)="searchClient(key1.value)" #key1="ngModel" ngModel name="key1"
        style="width: 100%" class="form-control mt-2 me-2 col-lg-3" placeholder="Search Client..." required />
    </div>

    <div class="col-md-3">
      <input type="search" (ngModelChange)="searchLot(key2.value)" #key2="ngModel" ngModel name="key2"
        style="width: 100%" class="form-control mt-2 col-lg-3 " placeholder="Search Lot..." required />
    </div>

    <div class="col-md-3">
      <button class="mt-2 col-lg-3 ms-5" style="
          color: white;
          background-color: red;
          border-radius: 5px;
          border: solid 2px white;
          height: 40px;
          width: 60%;
          position: relative;
          top: 0;
          right:0;
        " (click)="logout()">
        Log out
      </button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">OF</th>
        <th scope="col">client</th>
        <th scope="col">lot</th>
        <th scope="col">qteLot</th>
        <th scope="col">qteFabriquer</th>
        <th scope="col">Date</th>
        <th scope="col">Réaction</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produit of produits">
        <th scope="row">{{ produit.id }}</th>
        <td>{{ produit.of }}</td>
        <td>{{ produit.client }}</td>
        <td>{{ produit.lot }}</td>
        <td>{{ produit.qteLot }}</td>
        <td>{{ produit.qteFabriquer }}</td>
        <td>{{ produit.createDate | date: "medium" }}</td>
        <td>
          <button  type="button"
            (click)="editProduit = produit; editProduitId = produit.id" class="btn-success ms-2" data-bs-toggle="modal"
            data-bs-target="#updateBook" data-bs-whatever="@mdo">
            <i class="fa-solid fa-pen-to-square me-2"></i>
          </button>

        </td>
      </tr>
    </tbody>
  </table>



  <!-- modal Edit  -->

  <div class="modal fade" id="updateBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header mb-1">
          <h2 class="modal-title mt-3" id="exampleModalLabel">
            Modifier produit
          </h2>
          <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editForm="ngForm">
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">qteFabriquer:</label>
              <input type="text"  [(ngModel)]="editProduit.qteFabriquer" name="qteFabriquer" class="form-control"
                id="recipient-name" />
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button type="button" (click)="editproduit()" class="btn-primary" data-bs-dismiss="modal">
            Save changes
          </button>
        </div>
      </div>
    </div>
  </div>



</div>
