input{
  border-radius: 6px;
    color: #8a8d91;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 0;
    padding: 16px 0 16px 16px;
    width: 400px;
}
