<div style="background-color:#e9ebee; width:100%;height: 100%; ">
  <div class="p-5 contt"  >
    <div *ngIf="sendemail" style=" background-color: rgb(118, 212, 118) ;  ">
      <p style="margin-left:30%;">link send to your email </p>
    </div>
    <h1>Find your account</h1>
    <hr>
    <h3>Please enter your username to search for your account.</h3>
    <input [(ngModel)]="request.username" type="text" placeholder="username" >
    <hr>
    <div style="padding: 15px ">
      <a routerLink="">
      <button  style="background-color:#e4e6eb ; color:#4b4f56;border:none;border-radius: 6px;padding: 0px 20px; position: relative;left: 250px;height:25px;">cancel</button>
      </a>
     <button (click)="findUserName()" style="background-color: blue; color: white;border: none;border-radius: 6px;padding: 0px 20px;position: relative;left: 260px;height: 25px;">Find</button>
    </div>

  </div>

</div>
