input{
  border-radius: 6px;
    color: #8a8d91;
    font-family: Roboto-Regular, Helvetica, Arial, sans-serif;
    font-size: 16px;
    height: 50px;
    margin-bottom: 0;
    padding: 16px 0 16px 16px;
    width: 400px;
}
.contt{
  width:500px;
  height:300px;
  background-color: white;
  border-radius: 8px;
  position: absolute;
  top: 150px;
  left:400px ;
}

@media (max-width: 870px) {
  .contt{
    position: absolute;
    top: 150px;
    left:0 ;

  }

}
